openapi: 3.2.0
info:
  title: Fastly Load Balancing Servers API
  description: 'The Fastly Load Balancing API spreads traffic across multiple backends

    automatically. It exposes Directors bound to VCL service versions for locked

    configurations with multiple director groups, and Dynamic Server Pools that

    allow servers to be added or removed without activating new service versions.'
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Servers
paths:
  /service/{service_id}/pool/{pool_id}/server:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    - in: path
      name: pool_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Servers
      summary: List Servers
      operationId: listPoolServers
      responses:
        '200':
          description: A list of servers
    post:
      tags:
      - Servers
      summary: Create Server
      operationId: createPoolServer
      responses:
        '201':
          description: Server created
  /service/{service_id}/pool/{pool_id}/server/{server_id}:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    - in: path
      name: pool_id
      required: true
      schema:
        type: string
    - in: path
      name: server_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Servers
      summary: Get Server
      operationId: getPoolServer
      responses:
        '200':
          description: A server
    patch:
      tags:
      - Servers
      summary: Update Server
      operationId: updatePoolServer
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Servers
      summary: Delete Server
      operationId: deletePoolServer
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
