openapi: 3.1.0
info:
  title: Fastly Account ACL Cache Settings API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Cache Settings
  description: Operations for managing cache settings that control cache lifetimes and behavior at the edge.
paths:
  /service/{service_id}/version/{version_id}/cache_settings:
    get:
      operationId: listCacheSettings
      summary: List cache settings
      description: Retrieves a list of all cache settings configured for a specific version of a Fastly service.
      tags:
      - Cache Settings
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          description: Successfully retrieved the list of cache settings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CacheSettings'
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createCacheSettings
      summary: Create cache settings
      description: Creates new cache settings for a specific version of a Fastly service. Cache settings configure cache lifetime for objects stored in the Fastly cache, overriding cache freshness information from HTTP headers.
      tags:
      - Cache Settings
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CacheSettings'
      responses:
        '200':
          description: Successfully created the cache settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettings'
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. The API token is missing or invalid.
components:
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
    versionId:
      name: version_id
      in: path
      required: true
      description: The integer identifying the service version.
      schema:
        type: integer
  schemas:
    CacheSettings:
      type: object
      description: Cache settings configure cache lifetime for objects stored in the Fastly cache, overriding cache freshness information from HTTP response headers.
      properties:
        name:
          type: string
          description: The name of the cache settings rule.
        action:
          type: string
          description: The action to take when the cache settings are applied.
          enum:
          - pass
          - cache
          - restart
          - deliver
        ttl:
          type: integer
          description: The maximum time in seconds that the object should be cached.
        stale_ttl:
          type: integer
          description: The maximum time in seconds that a stale object can be served.
        cache_condition:
          type: string
          description: The name of the condition that triggers these cache settings.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
