openapi: 3.2.0
info:
  title: Fastly Load Balancing Server Pools API
  description: 'The Fastly Load Balancing API spreads traffic across multiple backends

    automatically. It exposes Directors bound to VCL service versions for locked

    configurations with multiple director groups, and Dynamic Server Pools that

    allow servers to be added or removed without activating new service versions.

    '
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Server Pools
paths:
  /service/{service_id}/pool:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Server Pools
      summary: List Server Pools
      operationId: listServerPools
      responses:
        '200':
          description: A list of server pools
    post:
      tags:
      - Server Pools
      summary: Create Server Pool
      operationId: createServerPool
      responses:
        '201':
          description: Pool created
  /service/{service_id}/pool/{pool_id}:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    - in: path
      name: pool_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Server Pools
      summary: Get Server Pool
      operationId: getServerPool
      responses:
        '200':
          description: A server pool
    patch:
      tags:
      - Server Pools
      summary: Update Server Pool
      operationId: updateServerPool
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Server Pools
      summary: Delete Server Pool
      operationId: deleteServerPool
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
