openapi: 3.2.0
info:
  title: Fastly Observability Alerts API
  description: 'The Fastly Observability APIs enable you to setup and manage Fastly''s

    Observability features on your site, product or service across all Network

    Services, Compute and Security product lines. Sub-resources include Alerts,

    Custom Dashboards, Insights, Log Aggregations, Log Explorer, Notification

    Service, and Timeseries.

    '
  version: 1.0.0
  contact:
    name: Fastly Support
    url: https://support.fastly.com
servers:
- url: https://api.fastly.com
  description: Fastly Production API
security:
- FastlyKey: []
tags:
- name: Alerts
paths:
  /alerts/definitions:
    get:
      tags:
      - Alerts
      summary: List Alert Definitions
      operationId: listAlertDefinitions
      responses:
        '200':
          description: A list of alert definitions
    post:
      tags:
      - Alerts
      summary: Create Alert Definition
      operationId: createAlertDefinition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
      responses:
        '201':
          description: Alert definition created
  /alerts/definitions/{definition_id}:
    parameters:
    - in: path
      name: definition_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Alerts
      summary: Get Alert Definition
      operationId: getAlertDefinition
      responses:
        '200':
          description: An alert definition
    patch:
      tags:
      - Alerts
      summary: Update Alert Definition
      operationId: updateAlertDefinition
      responses:
        '200':
          description: Updated alert definition
    delete:
      tags:
      - Alerts
      summary: Delete Alert Definition
      operationId: deleteAlertDefinition
      responses:
        '204':
          description: Deleted
  /alerts/history:
    get:
      tags:
      - Alerts
      summary: List Alert History
      operationId: listAlertHistory
      responses:
        '200':
          description: Alert history entries
components:
  schemas:
    AlertDefinition:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        service_id:
          type: string
        type:
          type: string
          enum:
          - stats
          - domains
          - origins
        metric:
          type: string
        evaluation_strategy:
          type: object
        integration_ids:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
