openapi: 3.1.0
info:
  title: Fastly Account ACL Header API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Header
  description: Operations for managing header manipulation rules that add, modify, or remove HTTP headers during request and response processing.
paths:
  /service/{service_id}/version/{version_id}/header:
    get:
      operationId: listHeaders
      summary: List header objects
      description: Retrieves a list of all header manipulation rules configured for a specific version of a Fastly service.
      tags:
      - Header
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          description: Successfully retrieved the list of headers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Header'
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createHeader
      summary: Create a header object
      description: Creates a new header manipulation rule for a specific version of a Fastly service. Header objects add, modify, or remove HTTP headers during request and response processing.
      tags:
      - Header
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Header'
      responses:
        '200':
          description: Successfully created the header object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Header'
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. The API token is missing or invalid.
components:
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
    versionId:
      name: version_id
      in: path
      required: true
      description: The integer identifying the service version.
      schema:
        type: integer
  schemas:
    Header:
      type: object
      description: A header object manipulates HTTP headers during request and response processing at the edge.
      properties:
        name:
          type: string
          description: The name of the header rule.
        action:
          type: string
          description: The action to take on the header.
          enum:
          - set
          - append
          - delete
          - regex
          - regex_repeat
        type:
          type: string
          description: The type of header manipulation.
          enum:
          - request
          - fetch
          - cache
          - response
        dst:
          type: string
          description: The name of the header to modify.
        src:
          type: string
          description: A variable expression used to derive the value.
        regex:
          type: string
          description: A regular expression used for regex-based actions.
        substitution:
          type: string
          description: The substitution string for regex-based actions.
        priority:
          type: integer
          description: The priority of the header rule.
          default: 100
        ignore_if_set:
          type: boolean
          description: Whether to skip the header rule if the header is already set.
        request_condition:
          type: string
          description: The name of the condition that triggers the header rule.
        response_condition:
          type: string
          description: The name of the condition that triggers the header rule on responses.
        cache_condition:
          type: string
          description: The name of the condition that triggers the header rule on cache.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
