openapi: 3.1.0
info:
  title: Fastly Account ACL API Discovery API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: API Discovery
  description: Operations for enabling and managing the API Discovery product that identifies API endpoints in service traffic.
paths:
  /enabled-products/v1/api_discovery/services/{service_id}:
    get:
      operationId: getApiDiscoveryStatus
      summary: Get API Discovery status
      description: Checks the enablement status of the API Discovery product on a specific service.
      tags:
      - API Discovery
      parameters:
      - $ref: '#/components/parameters/serviceId'
      responses:
        '200':
          description: Successfully retrieved the API Discovery status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatus'
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: Service not found or product not enabled.
    put:
      operationId: enableApiDiscovery
      summary: Enable API Discovery
      description: Enables the API Discovery product on a specific service.
      tags:
      - API Discovery
      parameters:
      - $ref: '#/components/parameters/serviceId'
      responses:
        '200':
          description: Successfully enabled API Discovery.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatus'
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: Service not found.
    delete:
      operationId: disableApiDiscovery
      summary: Disable API Discovery
      description: Disables the API Discovery product on a specific service.
      tags:
      - API Discovery
      parameters:
      - $ref: '#/components/parameters/serviceId'
      responses:
        '204':
          description: Successfully disabled API Discovery.
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: Service not found or product not enabled.
components:
  schemas:
    ProductStatus:
      type: object
      description: The enablement status of a Fastly product on a service.
      properties:
        product:
          type: object
          description: Details about the product.
          properties:
            id:
              type: string
              description: The product identifier.
            object:
              type: string
              description: The resource type.
        service:
          type: object
          description: Details about the service.
          properties:
            id:
              type: string
              description: The alphanumeric string identifying the service.
            object:
              type: string
              description: The resource type.
        _links:
          type: object
          description: Links to related resources.
          properties:
            self:
              type: string
              description: A link to the current resource.
            service:
              type: string
              description: A link to the associated service.
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
