openapi: 3.1.0
info:
  title: Fastly Account ACL Request Settings API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Request Settings
  description: Operations for managing request settings that modify inbound requests at the edge.
paths:
  /service/{service_id}/version/{version_id}/request_settings:
    get:
      operationId: listRequestSettings
      summary: List request settings
      description: Retrieves a list of all request settings configured for a specific version of a Fastly service.
      tags:
      - Request Settings
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          description: Successfully retrieved the list of request settings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequestSettings'
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createRequestSettings
      summary: Create request settings
      description: Creates new request settings for a specific version of a Fastly service. Request settings modify inbound requests at the edge before they are processed or forwarded to origin.
      tags:
      - Request Settings
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RequestSettings'
      responses:
        '200':
          description: Successfully created the request settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSettings'
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. The API token is missing or invalid.
components:
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
    versionId:
      name: version_id
      in: path
      required: true
      description: The integer identifying the service version.
      schema:
        type: integer
  schemas:
    RequestSettings:
      type: object
      description: Request settings modify inbound requests at the edge before they are processed or forwarded to origin servers.
      properties:
        name:
          type: string
          description: The name of the request settings rule.
        action:
          type: string
          description: The action to take when request settings are applied.
          enum:
          - lookup
          - pass
        force_miss:
          type: boolean
          description: Whether to force a cache miss for matching requests.
        force_ssl:
          type: boolean
          description: Whether to force SSL for matching requests.
        bypass_busy_wait:
          type: boolean
          description: Whether to disable collapsed forwarding for matching requests.
        max_stale_age:
          type: integer
          description: The maximum stale age in seconds.
        hash_keys:
          type: string
          description: A list of items to use as the cache hash key.
        xff:
          type: string
          description: How to handle the X-Forwarded-For header.
          enum:
          - clear
          - leave
          - append
          - append_all
          - overwrite
        timer_support:
          type: boolean
          description: Whether to inject Fastly-specific timing headers.
        geo_headers:
          type: boolean
          description: Whether to add geographic headers based on client IP.
        default_host:
          type: string
          description: Sets the host header sent to the backend.
        request_condition:
          type: string
          description: The name of the condition that triggers these request settings.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
