openapi: 3.1.0
info:
  title: Fastly Account ACL Domain Inspector API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Domain Inspector
  description: Domain-level analytics endpoints providing per-domain metrics for Fastly services.
paths:
  /v1/channel/{service_id}/ts/h/domains/{domain}/limit/{max_entries}:
    get:
      operationId: getDomainInspectorRealtimeStats
      summary: Get real-time domain metrics
      description: Retrieves real-time per-domain analytics data for a specific domain on a Fastly service.
      tags:
      - Domain Inspector
      servers:
      - url: https://rt.fastly.com
        description: Fastly Real-Time Analytics Server
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - name: domain
        in: path
        required: true
        description: The domain to retrieve metrics for.
        schema:
          type: string
      - name: max_entries
        in: path
        required: true
        description: The maximum number of entries to return.
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: Successfully retrieved domain inspector real-time data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeResponse'
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: Service or domain not found.
components:
  schemas:
    RealtimeRecord:
      type: object
      description: A single second of real-time analytics data with measurements grouped by data center.
      properties:
        datacenter:
          type: object
          description: A map of data center names to their respective measurement data.
          additionalProperties:
            $ref: '#/components/schemas/RealtimeMeasurements'
        aggregated:
          $ref: '#/components/schemas/RealtimeMeasurements'
        recorded:
          type: integer
          description: The Unix timestamp when this record was recorded.
    RealtimeMeasurements:
      type: object
      description: A set of measurements for a specific time period and data center or aggregated across all data centers.
      properties:
        requests:
          type: integer
          description: The total number of requests received.
        hits:
          type: integer
          description: The number of cache hits.
        miss:
          type: integer
          description: The number of cache misses.
        pass:
          type: integer
          description: The number of requests that passed through to origin.
        errors:
          type: integer
          description: The total number of errors.
        bandwidth:
          type: integer
          description: The total bandwidth in bytes.
        header_size:
          type: integer
          description: The total header size in bytes.
        body_size:
          type: integer
          description: The total body size in bytes.
        status_1xx:
          type: integer
          description: The number of responses with 1xx status codes.
        status_2xx:
          type: integer
          description: The number of responses with 2xx status codes.
        status_3xx:
          type: integer
          description: The number of responses with 3xx status codes.
        status_4xx:
          type: integer
          description: The number of responses with 4xx status codes.
        status_5xx:
          type: integer
          description: The number of responses with 5xx status codes.
        hit_ratio:
          type: number
          format: float
          description: The ratio of cache hits to total requests.
    RealtimeResponse:
      type: object
      description: A response containing real-time analytics data with records representing one-second time intervals.
      properties:
        Timestamp:
          type: integer
          description: The Unix timestamp of the latest data point.
        AggregateDelay:
          type: integer
          description: The offset of the latest data point from the current time.
        Data:
          type: array
          description: A list of analytics records, each representing one second of data.
          items:
            $ref: '#/components/schemas/RealtimeRecord'
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
