openapi: 3.1.0
info:
  title: Fastly Account ACL Server Pools API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Server Pools
paths:
  /service/{service_id}/pool:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Server Pools
      summary: List Server Pools
      operationId: listServerPools
      responses:
        '200':
          description: A list of server pools
    post:
      tags:
      - Server Pools
      summary: Create Server Pool
      operationId: createServerPool
      responses:
        '201':
          description: Pool created
  /service/{service_id}/pool/{pool_id}:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    - in: path
      name: pool_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Server Pools
      summary: Get Server Pool
      operationId: getServerPool
      responses:
        '200':
          description: A server pool
    patch:
      tags:
      - Server Pools
      summary: Update Server Pool
      operationId: updateServerPool
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Server Pools
      summary: Delete Server Pool
      operationId: deleteServerPool
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
