openapi: 3.2.0
info:
  title: Fastly Client-Side Protection Scripts API
  description: 'Fastly Client-Side Protection (CSP) provides visibility and control over

    third-party scripts running on your web pages. The service monitors script

    behavior, manages authorization status, and configures security policies to

    defend against client-side attacks like Magecart and formjacking.

    '
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Scripts
paths:
  /client-side-protection/websites/{website_id}/scripts:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Scripts
      summary: List Scripts
      operationId: listCspScripts
      responses:
        '200':
          description: A list of detected scripts
  /client-side-protection/websites/{website_id}/scripts/{script_id}:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    - in: path
      name: script_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Scripts
      summary: Get Script
      operationId: getCspScript
      responses:
        '200':
          description: A script entry
    patch:
      tags:
      - Scripts
      summary: Update Script
      operationId: updateCspScript
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
