openapi: 3.2.0
info:
  title: Fastly Real-Time Logging Logging Splunk API
  description: The Fastly Real-Time Logging API allows developers to configure and manage logging endpoints that receive streamed log data from Fastly's edge network. Fastly supports logging to a variety of formats and platforms including syslog, Amazon S3, Google Cloud Storage, BigQuery, Datadog, Splunk, Elasticsearch, and many other providers. Developers can create, update, and delete logging configurations per service version, controlling the format, placement, and conditions under which log entries are generated.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Logging Splunk
  description: Operations for managing Splunk logging endpoints on Fastly services.
paths:
  /service/{service_id}/version/{version_id}/logging/splunk:
    get:
      operationId: listLogSplunk
      summary: List Splunk logging endpoints
      description: Retrieves a list of all Splunk logging endpoints configured for a specific version of a Fastly service.
      tags:
      - Logging Splunk
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          description: Successfully retrieved the list of Splunk logging endpoints.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoggingSplunk'
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createLogSplunk
      summary: Create a Splunk logging endpoint
      description: Creates a new Splunk logging endpoint for a specific version of a Fastly service.
      tags:
      - Logging Splunk
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoggingSplunk'
      responses:
        '200':
          description: Successfully created the Splunk logging endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggingSplunk'
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. The API token is missing or invalid.
components:
  schemas:
    LoggingSplunk:
      allOf:
      - $ref: '#/components/schemas/LoggingCommon'
      - type: object
        description: Configuration for a Splunk logging endpoint.
        properties:
          url:
            type: string
            format: uri
            description: The URL to send logs to for the Splunk HTTP Event Collector.
          token:
            type: string
            description: The Splunk HEC token for authentication.
          use_tls:
            type: integer
            description: Whether to use TLS for the connection.
            enum:
            - 0
            - 1
            default: 0
          tls_hostname:
            type: string
            description: The hostname to verify the server certificate against.
          tls_ca_cert:
            type: string
            description: A secure certificate to authenticate a server with.
    LoggingCommon:
      type: object
      description: Common properties shared across all logging endpoint types.
      properties:
        name:
          type: string
          description: The name for the real-time logging configuration.
        placement:
          type: string
          description: Where in the generated VCL the logging call should be placed.
          enum:
          - none
          - waf_debug
          - null
        format_version:
          type: integer
          description: The version of the custom logging format used for the configured endpoint.
          enum:
          - 1
          - 2
        response_condition:
          type: string
          description: The name of an existing condition in the configured endpoint, or leave blank to always execute.
        format:
          type: string
          description: A Fastly log format string. Supports Apache Common Log variables.
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
    versionId:
      name: version_id
      in: path
      required: true
      description: The integer identifying the service version.
      schema:
        type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Real-Time Logging API Documentation
  url: https://www.fastly.com/documentation/reference/api/logging/
