openapi: 3.1.0
info:
  title: Fastly Account ACL Objects API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Objects
paths:
  /{bucket}:
    parameters:
    - in: path
      name: bucket
      required: true
      schema:
        type: string
    get:
      tags:
      - Objects
      summary: List Objects In Bucket
      operationId: listObjects
      parameters:
      - name: prefix
        in: query
        schema:
          type: string
      - name: marker
        in: query
        schema:
          type: string
      - name: max-keys
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A list of objects
  /{bucket}/{key}:
    parameters:
    - in: path
      name: bucket
      required: true
      schema:
        type: string
    - in: path
      name: key
      required: true
      schema:
        type: string
    put:
      tags:
      - Objects
      summary: Put Object
      operationId: putObject
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Object stored
    get:
      tags:
      - Objects
      summary: Get Object
      operationId: getObject
      responses:
        '200':
          description: Object payload
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    head:
      tags:
      - Objects
      summary: Head Object
      operationId: headObject
      responses:
        '200':
          description: Object metadata
    delete:
      tags:
      - Objects
      summary: Delete Object
      operationId: deleteObject
      responses:
        '204':
          description: Object deleted
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
