openapi: 3.1.0
info:
  title: Fastly Account ACL Alerts API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Alerts
paths:
  /alerts/definitions:
    get:
      tags:
      - Alerts
      summary: List Alert Definitions
      operationId: listAlertDefinitions
      responses:
        '200':
          description: A list of alert definitions
    post:
      tags:
      - Alerts
      summary: Create Alert Definition
      operationId: createAlertDefinition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
      responses:
        '201':
          description: Alert definition created
  /alerts/definitions/{definition_id}:
    parameters:
    - in: path
      name: definition_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Alerts
      summary: Get Alert Definition
      operationId: getAlertDefinition
      responses:
        '200':
          description: An alert definition
    patch:
      tags:
      - Alerts
      summary: Update Alert Definition
      operationId: updateAlertDefinition
      responses:
        '200':
          description: Updated alert definition
    delete:
      tags:
      - Alerts
      summary: Delete Alert Definition
      operationId: deleteAlertDefinition
      responses:
        '204':
          description: Deleted
  /alerts/history:
    get:
      tags:
      - Alerts
      summary: List Alert History
      operationId: listAlertHistory
      responses:
        '200':
          description: Alert history entries
components:
  schemas:
    AlertDefinition:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        service_id:
          type: string
        type:
          type: string
          enum:
          - stats
          - domains
          - origins
        metric:
          type: string
        evaluation_strategy:
          type: object
        integration_ids:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
