openapi: 3.1.0
info:
  title: Fastly Account ACL Traffic Stats API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Traffic Stats
paths:
  /ddos-protection/v1/events/{event_id}/rules/{rule_id}/traffic-stats:
    parameters:
    - in: path
      name: event_id
      required: true
      schema:
        type: string
    - in: path
      name: rule_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Traffic Stats
      summary: Get Traffic Stats For A Rule
      operationId: getTrafficStatsForRule
      responses:
        '200':
          description: Traffic statistics
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
