openapi: 3.1.0
info:
  title: Fastly Account ACL API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: ACL
  description: Operations for managing ACL containers within a service version.
paths:
  /service/{service_id}/version/{version_id}/acl:
    get:
      operationId: listAcls
      summary: List ACLs
      description: Retrieves a list of all ACL containers configured for a specific version of a Fastly service.
      tags:
      - ACL
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          description: Successfully retrieved the list of ACLs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Acl'
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createAcl
      summary: Create an ACL
      description: Creates a new ACL container for a specific version of a Fastly service. Once the service version is activated, entries within the ACL become versionless and can be updated without requiring a new service version.
      tags:
      - ACL
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the ACL.
      responses:
        '200':
          description: Successfully created the ACL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acl'
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. The API token is missing or invalid.
  /service/{service_id}/version/{version_id}/acl/{acl_name}:
    get:
      operationId: getAcl
      summary: Get an ACL
      description: Retrieves the details of a specific ACL container for a version of a Fastly service.
      tags:
      - ACL
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      - name: acl_name
        in: path
        required: true
        description: The name of the ACL.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the ACL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acl'
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: ACL not found.
    put:
      operationId: updateAcl
      summary: Update an ACL
      description: Updates a specific ACL container for a version of a Fastly service.
      tags:
      - ACL
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      - name: acl_name
        in: path
        required: true
        description: The name of the ACL.
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name of the ACL.
      responses:
        '200':
          description: Successfully updated the ACL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acl'
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: ACL not found.
    delete:
      operationId: deleteAcl
      summary: Delete an ACL
      description: Deletes a specific ACL container from a version of a Fastly service.
      tags:
      - ACL
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      - name: acl_name
        in: path
        required: true
        description: The name of the ACL.
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the ACL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Confirmation status of the deletion.
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: ACL not found.
components:
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
    versionId:
      name: version_id
      in: path
      required: true
      description: The integer identifying the service version.
      schema:
        type: integer
  schemas:
    Acl:
      type: object
      description: An ACL container that holds a list of IP address and CIDR range entries used for access control at the edge.
      properties:
        id:
          type: string
          description: The alphanumeric string identifying the ACL.
        name:
          type: string
          description: The name of the ACL.
        service_id:
          type: string
          description: The alphanumeric string identifying the service.
        version:
          type: integer
          description: The version number the ACL is associated with.
        created_at:
          type: string
          format: date-time
          description: The date and time the ACL was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time the ACL was last updated.
        deleted_at:
          type: string
          format: date-time
          nullable: true
          description: The date and time the ACL was deleted.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
