openapi: 3.2.0
info:
  title: Fastly Client-Side Protection Pages API
  description: 'Fastly Client-Side Protection (CSP) provides visibility and control over

    third-party scripts running on your web pages. The service monitors script

    behavior, manages authorization status, and configures security policies to

    defend against client-side attacks like Magecart and formjacking.

    '
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Pages
paths:
  /client-side-protection/websites/{website_id}/pages:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Pages
      summary: List Pages
      operationId: listCspPages
      responses:
        '200':
          description: A list of pages
    post:
      tags:
      - Pages
      summary: Create Page
      operationId: createCspPage
      responses:
        '201':
          description: Created
  /client-side-protection/websites/{website_id}/pages/{page_id}:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    - in: path
      name: page_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Pages
      summary: Get Page
      operationId: getCspPage
      responses:
        '200':
          description: A page
    patch:
      tags:
      - Pages
      summary: Update Page
      operationId: updateCspPage
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Pages
      summary: Delete Page
      operationId: deleteCspPage
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
