openapi: 3.1.0
info:
  title: Fastly Account ACL TLS Private Keys API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: TLS Private Keys
  description: Operations for managing private keys used to sign TLS certificates.
paths:
  /tls/private_keys:
    get:
      operationId: listTlsPrivateKeys
      summary: List TLS private keys
      description: Retrieves a list of all TLS private keys associated with the account.
      tags:
      - TLS Private Keys
      parameters:
      - name: page[number]
        in: query
        description: The page number to retrieve.
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of items per page.
        schema:
          type: integer
      - name: filter[in_use]
        in: query
        description: Filter to show only keys currently in use.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of TLS private keys.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TlsPrivateKey'
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createTlsPrivateKey
      summary: Create a TLS private key
      description: Uploads a new TLS private key. A key can be used to sign multiple certificates.
      tags:
      - TLS Private Keys
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - tls_private_key
                    attributes:
                      type: object
                      properties:
                        key:
                          type: string
                          description: The PEM-encoded private key.
                        name:
                          type: string
                          description: A customizable name for the private key.
      responses:
        '201':
          description: Successfully created the TLS private key.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TlsPrivateKey'
        '400':
          description: Bad request. Missing or invalid key data.
        '401':
          description: Unauthorized. The API token is missing or invalid.
  /tls/private_keys/{tls_private_key_id}:
    get:
      operationId: getTlsPrivateKey
      summary: Get a TLS private key
      description: Retrieves the details of a specific TLS private key.
      tags:
      - TLS Private Keys
      parameters:
      - name: tls_private_key_id
        in: path
        required: true
        description: The alphanumeric string identifying the TLS private key.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the TLS private key.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TlsPrivateKey'
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: TLS private key not found.
    delete:
      operationId: deleteTlsPrivateKey
      summary: Delete a TLS private key
      description: Deletes a TLS private key. The key must not be associated with any active certificates.
      tags:
      - TLS Private Keys
      parameters:
      - name: tls_private_key_id
        in: path
        required: true
        description: The alphanumeric string identifying the TLS private key.
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted the TLS private key.
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: TLS private key not found.
components:
  schemas:
    TlsPrivateKey:
      type: object
      description: A private key used to sign one or more TLS certificates.
      properties:
        id:
          type: string
          description: The alphanumeric string identifying the TLS private key.
        type:
          type: string
          description: The resource type.
          enum:
          - tls_private_key
        attributes:
          type: object
          properties:
            name:
              type: string
              description: A customizable name for the private key.
            key_length:
              type: integer
              description: The key length in bits.
            key_type:
              type: string
              description: The type of the key.
              enum:
              - RSA
              - ECDSA
            public_key_sha1:
              type: string
              description: The SHA-1 hash of the public key.
            created_at:
              type: string
              format: date-time
              description: The date and time the key was created.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
