openapi: 3.2.0
info:
  title: Fastly Client-Side Protection Policies API
  description: 'Fastly Client-Side Protection (CSP) provides visibility and control over

    third-party scripts running on your web pages. The service monitors script

    behavior, manages authorization status, and configures security policies to

    defend against client-side attacks like Magecart and formjacking.'
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Policies
paths:
  /client-side-protection/websites/{website_id}/policies:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Policies
      summary: List Policies
      operationId: listCspPolicies
      responses:
        '200':
          description: A list of policies
    post:
      tags:
      - Policies
      summary: Create Policy
      operationId: createCspPolicy
      responses:
        '201':
          description: Created
  /client-side-protection/websites/{website_id}/policies/{policy_id}:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    - in: path
      name: policy_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Policies
      summary: Get Policy
      operationId: getCspPolicy
      responses:
        '200':
          description: A CSP policy
    patch:
      tags:
      - Policies
      summary: Update Policy
      operationId: updateCspPolicy
      responses:
        '200':
          description: Updated
  /client-side-protection/websites/{website_id}/policies/{policy_id}/reports:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    - in: path
      name: policy_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Policies
      summary: List Policy Reports
      operationId: listCspPolicyReports
      responses:
        '200':
          description: Policy violation reports
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
