openapi: 3.1.0
info:
  title: Fastly Account ACL Secret Store API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Secret Store
  description: Operations for managing secret stores that provide encrypted storage for credentials and tokens accessible from Compute services.
paths:
  /resources/stores/secret:
    get:
      operationId: listSecretStores
      summary: List secret stores
      description: Retrieves a list of all secret stores associated with the account.
      tags:
      - Secret Store
      parameters:
      - name: cursor
        in: query
        description: A cursor for pagination.
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of secret stores.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecretStore'
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                        description: A cursor for fetching the next page of results.
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createSecretStore
      summary: Create a secret store
      description: Creates a new secret store for encrypted storage of credentials and tokens accessible from Compute services.
      tags:
      - Secret Store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the secret store.
      responses:
        '201':
          description: Successfully created the secret store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretStore'
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. The API token is missing or invalid.
  /resources/stores/secret/{store_id}:
    get:
      operationId: getSecretStore
      summary: Get a secret store
      description: Retrieves the details of a specific secret store.
      tags:
      - Secret Store
      parameters:
      - $ref: '#/components/parameters/storeId'
      responses:
        '200':
          description: Successfully retrieved the secret store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretStore'
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: Secret store not found.
    delete:
      operationId: deleteSecretStore
      summary: Delete a secret store
      description: Deletes a specific secret store and all of its secrets.
      tags:
      - Secret Store
      parameters:
      - $ref: '#/components/parameters/storeId'
      responses:
        '204':
          description: Successfully deleted the secret store.
        '401':
          description: Unauthorized. The API token is missing or invalid.
        '404':
          description: Secret store not found.
components:
  parameters:
    storeId:
      name: store_id
      in: path
      required: true
      description: The alphanumeric string identifying the store.
      schema:
        type: string
  schemas:
    SecretStore:
      type: object
      description: A secret store providing encrypted storage for credentials and tokens accessible from Fastly Compute services.
      properties:
        id:
          type: string
          description: The alphanumeric string identifying the secret store.
        name:
          type: string
          description: The name of the secret store.
        created_at:
          type: string
          format: date-time
          description: The date and time the secret store was created.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
