openapi: 3.1.0
info:
  title: Fastly Account ACL Websites API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Websites
paths:
  /client-side-protection/websites:
    get:
      tags:
      - Websites
      summary: List Websites
      operationId: listCspWebsites
      responses:
        '200':
          description: A list of websites
    post:
      tags:
      - Websites
      summary: Create Website
      operationId: createCspWebsite
      responses:
        '201':
          description: Created
  /client-side-protection/websites/{website_id}:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Websites
      summary: Get Website
      operationId: getCspWebsite
      responses:
        '200':
          description: A website
    patch:
      tags:
      - Websites
      summary: Update Website
      operationId: updateCspWebsite
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Websites
      summary: Delete Website
      operationId: deleteCspWebsite
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
