openapi: 3.2.0
info:
  title: Fastly Observability Notification Service API
  description: 'The Fastly Observability APIs enable you to setup and manage Fastly''s

    Observability features on your site, product or service across all Network

    Services, Compute and Security product lines. Sub-resources include Alerts,

    Custom Dashboards, Insights, Log Aggregations, Log Explorer, Notification

    Service, and Timeseries.'
  version: 1.0.0
  contact:
    name: Fastly Support
    url: https://support.fastly.com
servers:
- url: https://api.fastly.com
  description: Fastly Production API
security:
- FastlyKey: []
tags:
- name: Notification Service
paths:
  /notifications/integrations:
    get:
      tags:
      - Notification Service
      summary: List Notification Integrations
      operationId: listNotificationIntegrations
      responses:
        '200':
          description: A list of integrations
    post:
      tags:
      - Notification Service
      summary: Create Notification Integration
      operationId: createNotificationIntegration
      responses:
        '201':
          description: Created
  /notifications/integrations/{integration_id}:
    parameters:
    - in: path
      name: integration_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Notification Service
      summary: Get Notification Integration
      operationId: getNotificationIntegration
      responses:
        '200':
          description: An integration
    delete:
      tags:
      - Notification Service
      summary: Delete Notification Integration
      operationId: deleteNotificationIntegration
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
