openapi: 3.1.0
info:
  title: Fastly Account ACL Scripts API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Scripts
paths:
  /client-side-protection/websites/{website_id}/scripts:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Scripts
      summary: List Scripts
      operationId: listCspScripts
      responses:
        '200':
          description: A list of detected scripts
  /client-side-protection/websites/{website_id}/scripts/{script_id}:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    - in: path
      name: script_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Scripts
      summary: Get Script
      operationId: getCspScript
      responses:
        '200':
          description: A script entry
    patch:
      tags:
      - Scripts
      summary: Update Script
      operationId: updateCspScript
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
