openapi: 3.1.0
info:
  title: Fastly Account ACL Publishing API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Publishing
paths:
  /service/{service_id}/publish/:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    post:
      tags:
      - Publishing
      summary: Publish Messages To Fanout
      operationId: publishMessages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishRequest'
      responses:
        '200':
          description: Messages published
        '401':
          description: Authorization failed
components:
  schemas:
    PublishItem:
      type: object
      properties:
        channel:
          type: string
          example: chat-room-1
        id:
          type: string
        prev_id:
          type: string
        formats:
          type: object
          properties:
            http-response:
              type: object
              properties:
                code:
                  type: integer
                body:
                  type: string
            http-stream:
              type: object
              properties:
                content:
                  type: string
            ws-message:
              type: object
              properties:
                content:
                  type: string
    PublishRequest:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PublishItem'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
