openapi: 3.1.0
info:
  title: Fastly Account ACL Response Object API
  description: The Fastly Account API provides endpoints for managing customer accounts, users, and identity and access management (IAM) resources. Developers can programmatically manage user invitations, roles, permissions, and service groups to control access to Fastly resources. The API supports retrieving and updating customer information, managing user profiles, and configuring organizational settings for enterprise accounts.
  version: '1.0'
  contact:
    name: Fastly Support
    url: https://support.fastly.com
  termsOfService: https://www.fastly.com/terms
servers:
- url: https://api.fastly.com
  description: Fastly API Production Server
security:
- apiKeyAuth: []
tags:
- name: Response Object
  description: Operations for managing synthetic response objects that can be served directly from the edge without contacting an origin.
paths:
  /service/{service_id}/version/{version_id}/response_object:
    get:
      operationId: listResponseObjects
      summary: List response objects
      description: Retrieves a list of all response objects configured for a specific version of a Fastly service.
      tags:
      - Response Object
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          description: Successfully retrieved the list of response objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseObject'
        '401':
          description: Unauthorized. The API token is missing or invalid.
    post:
      operationId: createResponseObject
      summary: Create a response object
      description: Creates a new response object for a specific version of a Fastly service. Response objects allow serving synthetic responses directly from the edge without contacting an origin server.
      tags:
      - Response Object
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/versionId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResponseObject'
      responses:
        '200':
          description: Successfully created the response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. The API token is missing or invalid.
components:
  schemas:
    ResponseObject:
      type: object
      description: A response object allows serving synthetic responses directly from the edge without contacting an origin server.
      properties:
        name:
          type: string
          description: The name of the response object.
        status:
          type: integer
          description: The HTTP status code for the synthetic response.
          minimum: 100
          maximum: 599
        response:
          type: string
          description: The HTTP status text for the synthetic response.
        content:
          type: string
          description: The content body to return in the synthetic response.
        content_type:
          type: string
          description: The MIME type of the content body.
        request_condition:
          type: string
          description: The name of the condition that triggers the response object.
        cache_condition:
          type: string
          description: The name of the condition that determines caching.
  parameters:
    serviceId:
      name: service_id
      in: path
      required: true
      description: The alphanumeric string identifying the Fastly service.
      schema:
        type: string
    versionId:
      name: version_id
      in: path
      required: true
      description: The integer identifying the service version.
      schema:
        type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Fastly-Key
      description: API token used to authenticate requests to the Fastly API.
externalDocs:
  description: Fastly Account API Documentation
  url: https://www.fastly.com/documentation/reference/api/account/
