openapi: 3.2.0
info:
  title: Fastly Client-Side Protection Websites API
  description: 'Fastly Client-Side Protection (CSP) provides visibility and control over

    third-party scripts running on your web pages. The service monitors script

    behavior, manages authorization status, and configures security policies to

    defend against client-side attacks like Magecart and formjacking.

    '
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Websites
paths:
  /client-side-protection/websites:
    get:
      tags:
      - Websites
      summary: List Websites
      operationId: listCspWebsites
      responses:
        '200':
          description: A list of websites
    post:
      tags:
      - Websites
      summary: Create Website
      operationId: createCspWebsite
      responses:
        '201':
          description: Created
  /client-side-protection/websites/{website_id}:
    parameters:
    - in: path
      name: website_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Websites
      summary: Get Website
      operationId: getCspWebsite
      responses:
        '200':
          description: A website
    patch:
      tags:
      - Websites
      summary: Update Website
      operationId: updateCspWebsite
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Websites
      summary: Delete Website
      operationId: deleteCspWebsite
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
