openapi: 3.2.0
info:
  title: Fastly Load Balancing Directors API
  description: 'The Fastly Load Balancing API spreads traffic across multiple backends

    automatically. It exposes Directors bound to VCL service versions for locked

    configurations with multiple director groups, and Dynamic Server Pools that

    allow servers to be added or removed without activating new service versions.

    '
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Directors
paths:
  /service/{service_id}/version/{version_id}/director:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    - in: path
      name: version_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Directors
      summary: List Directors
      operationId: listDirectors
      responses:
        '200':
          description: A list of directors
    post:
      tags:
      - Directors
      summary: Create Director
      operationId: createDirector
      responses:
        '201':
          description: Director created
  /service/{service_id}/version/{version_id}/director/{director_name}:
    parameters:
    - in: path
      name: service_id
      required: true
      schema:
        type: string
    - in: path
      name: version_id
      required: true
      schema:
        type: integer
    - in: path
      name: director_name
      required: true
      schema:
        type: string
    get:
      tags:
      - Directors
      summary: Get Director
      operationId: getDirector
      responses:
        '200':
          description: A director
    delete:
      tags:
      - Directors
      summary: Delete Director
      operationId: deleteDirector
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
