openapi: 3.2.0
info:
  title: Fastly DDoS Protection Events Rules API
  description: 'The Fastly DDoS Protection Events API allows you to configure Fastly DDoS

    Protection and view attack insights including events, rules, and traffic

    statistics. Endpoints are exposed under /ddos-protection/v1/.'
  version: 1.0.0
servers:
- url: https://api.fastly.com
security:
- FastlyKey: []
tags:
- name: Rules
paths:
  /ddos-protection/v1/events/{event_id}/rules:
    parameters:
    - in: path
      name: event_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Rules
      summary: Get All Rules For An Event
      operationId: listRulesForEvent
      responses:
        '200':
          description: Rules applied during a DDoS event
  /ddos-protection/v1/rules/{rule_id}:
    parameters:
    - in: path
      name: rule_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Rules
      summary: Get A Rule By Id
      operationId: getDdosRule
      responses:
        '200':
          description: A DDoS protection rule
    patch:
      tags:
      - Rules
      summary: Update Rule
      operationId: updateDdosRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DdosRuleUpdate'
      responses:
        '200':
          description: Updated DDoS rule
components:
  schemas:
    DdosRuleUpdate:
      type: object
      properties:
        action:
          type: string
          enum:
          - block
          - challenge
          - log
        enabled:
          type: boolean
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
