openapi: 3.2.0
info:
  title: Fastly Observability Custom Dashboards API
  description: 'The Fastly Observability APIs enable you to setup and manage Fastly''s

    Observability features on your site, product or service across all Network

    Services, Compute and Security product lines. Sub-resources include Alerts,

    Custom Dashboards, Insights, Log Aggregations, Log Explorer, Notification

    Service, and Timeseries.

    '
  version: 1.0.0
  contact:
    name: Fastly Support
    url: https://support.fastly.com
servers:
- url: https://api.fastly.com
  description: Fastly Production API
security:
- FastlyKey: []
tags:
- name: Custom Dashboards
paths:
  /observability/dashboards:
    get:
      tags:
      - Custom Dashboards
      summary: List Custom Dashboards
      operationId: listCustomDashboards
      responses:
        '200':
          description: A list of custom dashboards
    post:
      tags:
      - Custom Dashboards
      summary: Create Custom Dashboard
      operationId: createCustomDashboard
      responses:
        '201':
          description: Dashboard created
  /observability/dashboards/{dashboard_id}:
    parameters:
    - in: path
      name: dashboard_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Custom Dashboards
      summary: Get Custom Dashboard
      operationId: getCustomDashboard
      responses:
        '200':
          description: A custom dashboard
    patch:
      tags:
      - Custom Dashboards
      summary: Update Custom Dashboard
      operationId: updateCustomDashboard
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Custom Dashboards
      summary: Delete Custom Dashboard
      operationId: deleteCustomDashboard
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    FastlyKey:
      type: apiKey
      in: header
      name: Fastly-Key
